
.flexRow--productDetails {
    display: flex;
    
    background-color: greenyellow;
}

.flex-layout.row {
    background-color: yellow;
}


.flexRow--viewProduto{
    display: flex;
    background-color: turquoise;
}