
.slideChildrenContainer {
    border-radius: 10px;
}

.paginationDot {
    background-color: rgb(153, 152, 152);
    padding: 5px 15px;
    border-radius: 5px;
}
.paginationDot--isActive {
    height: 15px;
    background-color: #505050;
}

.paginationDotsContainer {
    background-color: azure;
}