

.logoImage--github {
    border-radius: 50%;
}

.productNameContainer {
    
    height: 40%;
}

.sellingPrice {
    
    height: 40%;
}

.container {
    
    flex: box;
    flex-direction: column;
}